<div class="row">
	<div class="col-lg-12" style="margin-top: 2%;">
		<div id="container-upload" class="panel panel-default">
			<div class="panel-heading">Fazer Upload</div>
			<div id="tabela_container" style="display: flex; " class="panel-body dataTable_wrapper">
				<div class="form-group" style="margin-bottom: 0;">
					<form id="formUpload" style='display: flex; flex-direction: column; align-items: center; justify-content: center;'>
						<div id="escolher-arquivo">
							<label for="arquivoCSV" style="margin-bottom: 0">Escolher arquivo CSV:</label>
							<input type="file" accept=".csv" id="arquivoCSV" name="arquivoCSV" />
							<input id="importar" type="submit" value="Importar"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	

	$("#formUpload").validate({
		
		
		rules: {
			
			arquivoCSV: {
				required: true
			}
			
		},
		
		submitHandler: function (form) {

			if ($.active) {
				return;
			}
			Notification.wait();

			JsonWebApi.postFormData("<%- root %>/aula/importar", new FormData(form), function (response) {
				if (response.success){
					Notification.success("Upload realizado com sucesso! " + emoji.happy);
				}
				else
					Notification.error(response.value, true);

				var input = $("#arquivoCSV"); 
        		input.replaceWith(input.val('').clone(true));
			});

		}
		
	});
</script>
