<form method="get" action="<%root%>/calendario/:id_turma" style="height: 100%;">
	<div id="container-login-maior">
		<div id="container-login-medio" class="panel panel-default no-margin-bottom">
			<div id="container-login-menor" class="panel-body">
				<div class="col-xs-space-bottom" id="container-titulo">
					<h1 id="titulo-login">Agenda</h1>
					<!-- <p id="barra">|</p> -->
					<img alt="Agenda da Pós" id="logo-login" src="<%- root %>/imagens/logo-espm.png" style="max-width: 100%;" />
				</div>
		
				<label for="email">E-mail</label>
                <input id="email" name="email" maxlength="100" class="form-control" type="email" spellcheck="false"/>

				<p>ou</p>

                <label for="ra">R.A</label>
				<input id="ra" name="ra" maxlength="100" class="form-control" type="text" spellcheck="false"/>

				<button  id="botao-login" onclick="" class="btn btn-primary btn-block">Entrar</button>
			</div>
		</div>
	</div>
</form>
<%- contentFor("scripts") %>
	
<script>
	function calendario(){
		var ra = document.getElementById("ra");
		var email = document.getElementById("email");
		var login = document.getElementById("botao-login");
		
		 for (let index = 0; index < aluno.length; index++) {
			if(aluno[index].Ra_aluno  == ra || aluno[index].email_aluno == email){
				var id = aluno[index].id_turma;
				break;
			}else{
				id = 0;
			}
			
		}
		if (id > 0 ) {
			for (let index = 0; index < url.length; index++) {
				if(id == url.id_turma){
					var link = url.url_calendario;
					break;
				}
				
			}
			if(!link){
				link = "<%root%>/home/nao-encontrado.ejs"
					Notification.error(response.value, true);
				}
			login.href = link;
			
		} else {
			Notification.error(response.value, true);
		}
		return link;
	}
</script>

<style>
	#container-login-maior{
		max-width: 400px; 
		margin: auto; 
		padding: 5% 15px 50px;
	}

	#container-login-medio{
		/* margin: 0; */
		width: 100%; 
		height: 20%;
	}

	#container-login-menor{
		
		height: 100%; 
		width: 90%;
		padding: auto;
	}

	#container-titulo{
		width: 400px;
	}

	#titulo-login{
		font-weight: 600;
	}

	#logo-login{
		width: 25%;
		margin-bottom: 8px;
	}

	/* #titulo-login{
		margin-top: 5px;
	} */

	#botao-login{
		margin: 8% 0 8%;
		padding: 13px;
		font-size: 18px;
	}

	p{
	    text-align:center;
        padding-top: 10px;
	}
</style>